$basic-spacing: 6px;

//Atoms

.ktb-hdr {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 3px;
  margin-bottom: 0;
  margin-top: 0;


  &--big {
    font-size: 28px;
  }

  &--bigger {
    font-size: 40px;
    font-weight: 300;
  }

  &--small {
    font-size: 20px;
  }


  &--smaller {
    font-size: 16px;
    font-weight: bolder;
  }
}

//Molecules


.ktb-button {
  outline: none;
  border-radius: 12px;
  background-color: #cfcfcf;
  transition: all .2s ease-in;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 48px;
  background-color: rgba(0,0,0, .5);
  padding-left: $basic-spacing * 2;
  padding-right: $basic-spacing * 2;
  cursor: pointer;


  &__label {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .5px;
    transition: color .2s ease-in;
  }

  &:hover {
    background-color: rgba(0,0,0, 1);

    .ktb-button__label {
      color: aqua;
    }
  }

  &--danger {
    background-color: rgba(250, 26, 49, 0.81);


    &:hover {
      background-color: rgba(250, 26, 49, 1);

      .ktb-button__label {
          color: chartreuse;
      }
    }
  }

}

.styleguide-wrapper {
  padding: 10px;
  background-color: rgba(0, 0, 0, .3);
  margin: 15px;
  border-radius: 12px;
  min-height: calc(100vh - 30px);
  color: rgba(255, 255, 255, .9);
}

.styleguide-item {

  &__title {
    text-align: center;
    color: darkred;
  }

  &__content {
    border-bottom: 4px solid #000;
  }
}

.mb-1 {
  margin-bottom: $basic-spacing;
}

.mb-2 {
  margin-bottom: $basic-spacing * 2;
}

.mb-3 {
  margin-bottom: $basic-spacing * 3;
}


.mb-4 {
  margin-bottom: $basic-spacing * 4;
}


.mr-1 {
  margin-right: $basic-spacing;
}

.mr-2 {
  margin-right: $basic-spacing * 2;
}

.mr-3 {
  margin-right: $basic-spacing * 3;
}


.mr-4 {
  margin-right: $basic-spacing * 4;
}


.pb-1 {
  padding-bottom: $basic-spacing;
}

.pb-2 {
  padding-bottom: $basic-spacing * 2;
}

.pb-3 {
  padding-bottom: $basic-spacing * 3;
}


.pb-4 {
  padding-bottom: $basic-spacing * 4;
}




