<div class="styleguide-wrapper">
  <div class="styleguide-item mb-4">
    <h1 class="styleguide-item__title ktb-hdr mb-3">
      Headers
    </h1>
    <div class="styleguide-item__content pb-1">
      <h2 class="ktb-hdr mb-2">
        Regular header
      </h2>

      <h3 class="ktb-hdr mb-2 ktb-hdr--small">
        Small header
      </h3>

      <h3 class="ktb-hdr mb-2 ktb-hdr--smaller">
        Smaller header
      </h3>

      <h1 class="ktb-hdr mb-2 ktb-hdr--big">
        Big header
      </h1>
    </div>
  </div>


  <div class="styleguide-item ">
    <h1 class="styleguide-item__title ktb-hdr mb-3">
      Buttons
    </h1>
    <div class="styleguide-item__content pb-3">
      <button class="ktb-button mr-2">
        <span class="ktb-button__label">Regular button</span>
      </button>
      <button class="ktb-button ktb-button--danger">
        <span class="ktb-button__label">Danger button</span>
      </button>
    </div>
  </div>
</div>


