/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: #4693d7;
  font-family: sans-serif;
}

html {
  box-sizing: border-box;
}

html > * {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

